<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>01</string>
		<key>description</key>
		<string>Baymax &amp; Fruit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>02</string>
		<key>description</key>
		<string>Baymax &amp; Ice-cream &amp; Egg-roll</string>
	</dict>
	<dict>
		<key>name</key>
		<string>03</string>
		<key>description</key>
		<string>Baymax &amp; Tangyuan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>04</string>
		<key>description</key>
		<string>Baymax &amp; Cheesecake</string>
	</dict>
	<dict>
		<key>name</key>
		<string>05</string>
		<key>description</key>
		<string>Baymax &amp; Watermelon-juice</string>
	</dict>
	<dict>
		<key>name</key>
		<string>06</string>
		<key>description</key>
		<string>Baymax &amp; Ice-cream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>07</string>
		<key>description</key>
		<string>Baymax &amp; Macaron</string>
	</dict>
	<dict>
		<key>name</key>
		<string>08</string>
		<key>description</key>
		<string>Baymax &amp; Ice-cream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>09</string>
		<key>description</key>
		<string>Baymax &amp; Hamburger</string>
	</dict>
</array>
</plist>
